[Unit]
Description=Consul-Template service for pgBouncer configuration file
Requires=network-online.target
After=network-online.target consul.service

[Service]
User=pgbouncer
Group=pgbouncer
Restart=on-failure
ExecStart=/bin/consul-template -config=/etc/consul-template.d/configs/pgbouncer.hcl
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
